@import "../../../styles/variables.scss";

.input-wrapper {
    color: $text-color;
    font-size: 16px;
    text-align: start;

    label {
        margin-bottom: 10px;
    }

    .input-content {
        width: 100%;
        border-radius: 8px;
        display: flex;

        .icon {
            padding: 12px;
            border-radius: 0 8px 8px 0;
            background-color: $primary-color;
            height: 55px;
            width: 55px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 22px;
                width: 22px;
            }
        }

        input {
            border: none;
            border-radius: 8px 0 0 8px;
            background-color: $gray-secondary-bg;

            padding: 12px 0 12px 20px;
            width: 100%;
        }
        
    }
}
